head
	title Moment
	meta(name='apple-mobile-web-app-capable' content='yes')
	meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
	meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui')
body

template(name='layout')
	+RenderController target='content' size='[undefined,undefined]'
		+yield

template(name='about')
	+View size='[undefined,undefined]'
		//-+timelineMinuteScroller
		//-+timelineDayScroller
		//-+timelineMonthScroller
		//-+timelineYearScroller
		//-+timelineSearchHolder
		+CanvasSurface template='background' id='background' size='[undefined,undefined]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0,0]' opacity='1' properties=backgroundStyles
		+Surface template='overlay' size='[undefined,undefined]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0,0]' properties=overlayStyles
		+Surface template='intro' size='[200,200]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0,0]' opacity='1' properties=introStyles
		+Surface template='question' size='[200,80]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0,0]' opacity='1' properties=questionStyles
		+Surface template='momentButton' size='[200,40]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0,0]' opacity='1' properties=momentButtonStyles
		+Surface template='ppLogo' size='[60,60]' origin='[0.5,1]' align='[0.5,1]' translate='[0,-20,0]' opacity='0.14' properties=ppLogoStyles
		+Surface template='timer' size='[60,60]' origin='[0.5,1]' align='[0.5,0.5]' translate='[0,100,0]' opacity='1' properties=timerStyles
		+Surface template='timelineToggle' size='[60,60]' origin='[0.5,0]' align='[0.5,0]' translate='[0,20,100]' opacity='0.14' properties=timelineToggleStyles
		//-+Surface template='timelineOverlay' size='[undefined,undefined]' origin='[0,0]' align='[0,0]' translate='[0,0,0]' opacity='0.75' properties=timelineOverlayStyles

template(name='timelineSearchHolder')
	+InputSurface template='timelineSearch' size='[undefined,100]' origin='[0.5,0]' align='[0.5,0]' translate='[0,0,8]' properties=timelineSearchStyles placeholder='Hello Search' opacity='0.8'

template(name='timelineSearch')

template(name='timelineMinuteScroller')
	+Scrollview size='[undefined,undefined]' origin='[0,0]' align='[0,0]' translate='[0,100,1]' opacity='0.9'
		+famousEach minutes
			+StateModifier size='[undefined,1160]'
				+Surface id=timelineMinuteIndex template='timelineMinute' origin='[0,0]' align='[0,0]' size='[undefined,undefined]' properties=timelineMinuteStyles opacity='0.8'
				+Surface id=timelineMinuteTitleIndex template='timelineMinuteTitle' origin='[0,0]' align='[0,0]' translate='[0,100,1]' size='[undefined,40]' properties=timelineMinuteTitleStyles opacity='0.8'
				+Surface template='timelineMinuteTime' origin='[0,0]' align='[0,0]' translate='[0,40,1]' size='[undefined,40]' properties=timelineMinuteTimeStyles opacity='0.8'
				+GridLayout dimensions='[4,5]' gutterSize='[10,10]' size='[1320,940]' translate='[0,-40,1]' origin='[0.5,1]' align='[0.5,1]'
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0]' properties=timelineMomentStyles

template(name='timelineDayScroller')
	+Scrollview size='[270,undefined]' origin='[1,0]' align='[1,0.5]' translate='[0,0,9]'
		+famousEach days
			+Surface template='timelineDay' size='[undefined,40]' origin='[0,0.5]' align='[0,0]' properties=timelineDayStyles

template(name='timelineMonthScroller')
	+Scrollview size='[170,undefined]' origin='[1,0]' align='[1,0.5]' translate='[0,0,9]'
		+famousEach months
			+Surface template='timelineMonth' size='[undefined,40]' origin='[0,0.5]' align='[0,0]' properties=timelineMonthStyles

template(name='timelineYearScroller')
	+Scrollview size='[80,undefined]' origin='[1,0]' align='[1,0.5]' translate='[0,0,9]'
		+famousEach years
			+Surface template='timelineYear' size='[undefined,40]' origin='[0,0.5]' align='[0,0]' properties=timelineYearStyles

template(name='background')
	//-This is the background for cycling of images
	#videoWrapper.bigClass
		#video

template(name='overlay')
	//-This is the dot overlay
	filter
		feColorMatrix(type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0')

template(name='intro')
	.header Moment

template(name='momentButton')
	| Share Your Moment

template(name='timer')
	= timer

template(name='question')
	| Question of the Day

template(name='timelineScroller')
	| timelineScroller

template(name='timelineToggle')
	= currentEpoch

template(name='timelineOverlay')
	| timelineOverlay

template(name='timelineMinuteTime')
	.minuteTime TIMELINE MINUTE TIME MOMENT

template(name='timelineMinuteTitle')
	.minuteTitle QUESTION OF THE DAY/RANDOM QUOTE

template(name='timelineMinute')
	//-.minute= minute.formattedMinute
	.minute= minute.index
	//-+Surface template='timelineMoment' size='[200,200]' style='background:orange;'
	//-+StateModifier size='[200,200]'
		+GridLayout dimensions='[2,2]'
			+Surface style='background:red;'
			+Surface style='background:green;'
			+Surface style='background:blue;'
			+Surface style='background:yellow;'
	//-+famousEach moments
		+Surface template='timelineMoment' size='[undefined,200]' origin='[0,0]' align='[0,0]' properties=timelineMomentStyles

template(name='timelineMoment')
	+StateModifier size='[undefined,undefined]' origin='[0.5,0.5]' align='[0.5,0.5]'
		+Surface origin='[0.5,0.5]' align='[0.5,0.5]' properties=timelineMomentImageStyles
				ul
					li Hello Moment!
					li= moment.archiveCreatedAt
					li= moment.tokboxArchiveId
					li= moment.tokboxArchiveName
					//-li= moment.tokboxPartnerId
					//-li= moment.tokboxSessionId
					//-li= moment.archiveUpdatedAt

template(name='timelineMomentEmptyText')
	//- Empty text

template(name='timelineDay')
	p= day.formattedDay
	//-p= day.index

template(name='timelineMonth')
	p= month.formattedMonth
	//-p= month.index

template(name='timelineYear')
	p= year.formattedYear
	//-p= year.index

template(name='ppLogo')
	svg#ppLogo.icon(viewbox='0 0 100 100')
		defs
			pattern#ppImageFill(patternunits='userSpaceOnUse', width='300', height='100')
				image.ppImageFillImage(xlink:href='img/nebula.png', x='-100', y='0', width='300', height='100')
				image.ppImageFillImage(xlink:href='img/starry.jpg', x='-120', y='0', width='300', height='100')
				image.ppImageFillImage(xlink:href='img/mayan.jpeg', x='-70', y='0', width='300', height='100')
				image.ppImageFillImage(xlink:href='img/rain.png', x='-135', y='0', width='300', height='100')
				image.ppImageFillImage(xlink:href='img/owl.jpg', x='-80', y='0', width='300', height='100')
				image.ppImageFillImage(xlink:href='img/earth.png', x='-80', y='0', width='300', height='100')
				image.ppImageFillImage(xlink:href='img/samurai.png', x='-140', y='0', width='300', height='100')
				image.ppImageFillImage(xlink:href='img/cave.jpg', x='-120', y='0', width='300', height='100')
				image.ppImageFillImage(xlink:href='img/skullkid.jpg', x='-120', y='0', width='300', height='100')
				image.ppImageFillImage(xlink:href='img/deer.jpg', x='-90', y='0', width='300', height='100')
				image.ppImageFillImage(xlink:href='img/performers/01.jpg', x='-90', y='0', width='300', height='100')
		defs#pFirstDef
			path#pFirst(d='M68.791,3.982H34.513v58v3.824v30.211h20.72V65.935v-0.128h13.558C86.059,65.807,100,51.912,100,34.703C100,17.622,86.059,3.982,68.791,3.982z')
		clippath#pFirstMask
			use(xlink:href='#pFirst', overflow='visible')
		rect#pFirstFill(x='32.301', y='1.77', clip-path='url(#pFirstMask)', width='69.911', height='96.46')
		defs#pLastDef
			path#pLast(d='M34.278,3.982H0v58v3.824v30.211h20.72V65.935v-0.128h13.558c17.267,0,31.208-13.895,31.208-31.104C65.486,17.622,51.545,3.982,34.278,3.982z')
		clippath#pLastMask
			use(xlink:href='#pLast', overflow='visible')
		rect#pLastFill(x='-2.212', y='1.77', clip-path='url(#pLastMask)', width='69.912', height='96.46')
