head
	title Moment
	meta(name='apple-mobile-web-app-capable' content='yes')
	meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
	meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui')
body

template(name='layout')
	+RenderController target='content' size='[undefined,undefined]'
		+yield

template(name='about')
	+View size='[undefined,undefined]'
		+timelineMinuteScroller
		//-+timelineDayScroller
		//-+timelineMonthScroller
		//-+timelineYearScroller
		//-+timelineSearchHolder
		+CanvasSurface template='background' id='background' size='[undefined,undefined]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0,0]' opacity='1' properties=backgroundStyles
		+Surface template='overlay' id='overlay' size='[undefined,undefined]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0,0]' properties=overlayStyles
		+Surface template='timelineOverlay' id='timelineOverlay' size='[undefined,undefined]' origin='[0,0]' align='[0,0]' translate='[0,0,0]' opacity='0' properties=timelineOverlayStyles
		+Surface template='intro' id='intro' size='[200,200]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0,0]' opacity='1' properties=introStyles
		+Surface template='question' id='question' size='[300,80]' origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0,0]' opacity='1' properties=questionStyles
		+StateModifier translate='[0,30,0]'
			+Surface template='momentButton' id='momentButton' size='[220,40]' origin='[0.5,0.5]' align='[0.5,0.5]' opacity='1' properties=momentButtonStyles
		+Surface template='ppLogo' id='ppLogo' size='[60,60]' origin='[0.5,1]' align='[0.5,1]' translate='[0,-20,0]' opacity='0.14' properties=ppLogoStyles
		+Surface template='timer' id='timer' size='[60,60]' origin='[0.5,1]' align='[0.5,0.5]' translate='[0,0,0]' opacity='0' properties=timerStyles
		+StateModifier translate='[0,20,100]'
			+Surface template='timelineToggle' id='timelineToggle' size='[60,60]' origin='[0.5,0]' align='[0.5,0]' opacity='0.14' properties=timelineToggleStyles

template(name='timelineSearchHolder')
	+InputSurface template='timelineSearch' id='timelineSearch' size='[undefined,100]' origin='[0.5,0]' align='[0.5,0]' translate='[0,0,8]' properties=timelineSearchStyles placeholder='Hello Search' opacity='0'

template(name='timelineSearch')

template(name='timelineMinuteScroller')
	+StateModifier origin='[0.5,0.5]' align='[0.5,0.5]' translate='[0,0,1]'
		+Scrollview id='timelineMinuteScroller' size='[undefined,undefined]' opacity='0' properties=timelineMinuteScrollerStyles
			+FlexGrid id='timelineMinuteGrid' marginTop=10 marginSide=100 gutterCol=20 gutterRow=20 itemSize='[320,180]'
				+famousEach minutes
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0,0]' align='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0,0]' align='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0,0]' align='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0,0]' align='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0,0]' align='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0,0]' align='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0,0]' align='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0,0]' align='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0,0]' align='[0,0]' properties=timelineMomentStyles
					+ContainerSurface template='timelineMoment' size='[320,180]' origin='[0,0]' align='[0,0]' properties=timelineMomentStyles

template(name='timelineDayScroller')
	+Scrollview id='timelineDayScroller' size='[270,undefined]' origin='[1,0]' align='[1,0.5]' translate='[0,0,2]'
		+famousEach days
			+Surface template='timelineDay' size='[undefined,40]' origin='[0,0.5]' align='[0,0]' properties=timelineDayStyles

template(name='timelineMonthScroller')
	+Scrollview id='timelineMonthScroller' size='[170,undefined]' origin='[1,0]' align='[1,0.5]' translate='[0,0,2]'
		+famousEach months
			+Surface template='timelineMonth' size='[undefined,40]' origin='[0,0.5]' align='[0,0]' properties=timelineMonthStyles

template(name='timelineYearScroller')
	+Scrollview id='timelineYearScroller' size='[80,undefined]' origin='[1,0]' align='[1,0.5]' translate='[0,0,2]'
		+famousEach years
			+Surface template='timelineYear' size='[undefined,40]' origin='[0,0.5]' align='[0,0]' properties=timelineYearStyles

template(name='background')
	//-This is the background for cycling of images
	#videoWrapper.bigClass
		#video

template(name='overlay')
	//-This is the dot overlay
	filter
		feColorMatrix(type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0')

template(name='intro')
	.header Moment

template(name='momentButton')
	| Share Your Moment

template(name='timer')
	= timer

template(name='question')
	| Question of the Day

template(name='timelineScroller')
	| timelineScroller

template(name='timelineToggle')
	= currentEpoch

template(name='timelineOverlay')
	| timelineOverlay

template(name='timelineMinuteTime')
	.minuteTime TIMELINE MINUTE TIME MOMENT

template(name='timelineMinuteTitle')
	.minuteTitle QUESTION OF THE DAY / RANDOM QUOTE

template(name='timelineMinute')
	//-.minute= minute.formattedMinute
	.minute= minute.index
	//-+Surface template='timelineMoment' size='[200,200]' style='background:orange;'
	//-+StateModifier size='[200,200]'
		+GridLayout dimensions='[2,2]'
			+Surface style='background:red;'
			+Surface style='background:green;'
			+Surface style='background:blue;'
			+Surface style='background:yellow;'
	//-+famousEach moments
		+Surface template='timelineMoment' size='[undefined,200]' origin='[0,0]' align='[0,0]' properties=timelineMomentStyles

template(name='timelineMoment')
	+StateModifier size='[undefined,undefined]' origin='[0.5,0.5]' align='[0.5,0.5]'
		+Surface origin='[0.5,0.5]' align='[0.5,0.5]' properties=timelineMomentImageStyles
				ul
					li Hello Moment!
					li= moment.archiveCreatedAt
					li= moment.tokboxArchiveId
					li= moment.tokboxArchiveName
					//-li= moment.tokboxPartnerId
					//-li= moment.tokboxSessionId
					//-li= moment.archiveUpdatedAt

template(name='timelineMomentEmptyText')
	//- Empty text

template(name='timelineDay')
	p= day.formattedDay
	//-p= day.index

template(name='timelineMonth')
	p= month.formattedMonth
	//-p= month.index

template(name='timelineYear')
	p= year.formattedYear
	//-p= year.index

template(name='ppLogo')
	svg#ppLogo.icon(viewbox='0 0 100 100')
		path#pFirst(d='M68.791,3.982H34.513v58v3.824v30.211h20.72V65.935v-0.128h13.558C86.059,65.807,100,51.912,100,34.703C100,17.622,86.059,3.982,68.791,3.982z')
		path#pLast(d='M34.278,3.982H0v58v3.824v30.211h20.72V65.935v-0.128h13.558c17.267,0,31.208-13.895,31.208-31.104C65.486,17.622,51.545,3.982,34.278,3.982z')